.App {
  text-align: center;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.circleRed {
  border-radius: 50%;
  background-color: #FF6868;
}

.circleYellow {
  border-radius: 50%;
  background-color: #FFBB64;
}

.circleBlue {
  border-radius: 50%;
  background-color: #0174BE;
  color: white;
}

.circleGreen {
  border-radius: 50%;
  background-color: #9ADE7B;
}

.circleBrown {
  border-radius: 50%;
  background-color: #7D0A0A;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headings {
  font-family: fantasy;
}

.bgd {
  background-color: black;
}
